@charset "UTF-8";

:root {
    --stop-color-1: rgb(61, 61, 61);
    --stop-color-2: rgb(1, 212, 0);
    --stop-opacity-1: 1.00;
    --stop-opacity-2: 1.00;
}

  .w3 {
    fill: url(#liner-grad);
}

.schools {
    fill: #4f4f4f;
}

.com {
    fill: #50b300
}
.shape-img {
    width: 100px;
    height: auto;
}