@import "../css/logo-svg.css";
@import "../css/font.css";
@import "../css/custom.css";
@import "../css/icons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto";
  background-color: #363636;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

.wrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.header {
  display: grid;
  grid-template-columns: .37fr repeat(5, 1fr);
  grid-template-rows: 1.3fr 0.7fr;
  grid-area: 1 / 1 / 2 / 7;
  height: 100%;
  max-height: 116px;
}

.header__logo {
  grid-area: 1 / 1 / 2 / 2;
  margin: 5px 25px;
}

.header__menu-t {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-area: 1 / 2 / 2 / 7;
}
.menu__l--p{
  padding: 26px 22px 26px 10px;
}
.menu__l--after {
  position: relative;
  color: #fff;
}

.menu__l--after::after {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 5px solid rgb(0, 0, 0);
  margin: 7px 3px;
}

.menu-tl {
  grid-area: 1 / 1 / 2 / 3;
}

.menu-tr {
  grid-area: 1 / 3 / 2 / 5;
  margin: 0 25px 0 0;
}


.menu__l--h:hover {
  cursor: pointer;
  background-color: #004216;
}

.header__menu-b {
  grid-area: 2 / 1 / 3 / 7;
  background-color: rgb(37, 37, 44);
  height: 45px;
  text-transform: uppercase;
}

.icon-home {
  margin: 0 10px;
}

.menu__l--w {
  color: white;
  padding: 13px 7px 11px 7px;
}
.menu__l--w:hover{
  background-color: #201f1f;
}
.menu__l--b {
  color: black;
}


.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-area: 2 / 1 / 6 / 6;
}

.sidebar {
  grid-area: 1 / 1 / 4 / 2;
}

.aside {
  grid-area: 2 / 6 / 6 / 7;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-area: 6 / 1 / 7 / 7;
}

.footer-t {
  grid-area: 1 / 1 / 2 / 4;
}

.footer-b {
  grid-area: 2 / 1 / 3 / 4;
}